<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:hadoop="http://www.springframework.org/schema/hadoop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/hadoop http://www.springframework.org/schema/hadoop/spring-hadoop-2.1.xsd">
	
	<hadoop:configuration >
		fs.default.name=hdfs://192.168.203.201:9000
		mapred.job.tracker=192.168.203.201:8021
	</hadoop:configuration>
	
	<hadoop:hive-server auto-startup="true" port="10000"/>
	<hadoop:hive-client-factory   host="192.168.203.202"  port="10000"/>
	<hadoop:hive-template id="hiveTemplate"/>
</beans>
